/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Author]
      ,[NewsUrl]
      ,[DatePublished]
      ,[NewsDescription]
      ,[Title]
      ,[NewsID]
      ,[NewsSource]
      ,[SourceID]
  FROM [AI].[dbo].[AINews]